{% extends 'account/base.html' %}{% block content %}

{% load i18n %}

    <form method="POST" id="signup_form"  action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="input-group">
            {{ form.username }}
        </div>

        <div class="input-group">
            {{ form.email }}
        </div>

        <div class="input-group">
            {{ form.password1 }}
        </div>

        <div class="input-group">
            {{ form.password2 }}
        </div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

        <div class="p-t-10">
            <button class="btn btn--pill btn--green" type="submit">{% trans "Sign Up" %}</button>
        </div>
    </form>

<br/>

    <p>{{ form.errors }}</p>

<br/>
<br/>

<p>{% blocktrans %}Already have an account? <a href="{{ login_url }}">Sign in</a>.{% endblocktrans %}</p>


{{ message }}


{% endblock content %}