<!DOCTYPE html>
<html lang="en">

{% load static %}

  <head>
    <title>Shutter</title>


      {% include 'shutter/headers.html' %}


  </head>
  <body>


  <div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="header-bar d-flex d-lg-block align-items-center" data-aos="fade-left">


      {% include 'shutter/navbar.html' %}

  </header>
  <main class="main-content">


      {% block content %}

      {% endblock content %}


  </main>

</div> <!-- .site-wrap -->

  <script src="{% static 'shutter/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'shutter/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'shutter/js/jquery-ui.js' %}"></script>
  <script src="{% static 'shutter/js/popper.min.js' %}"></script>
  <script src="{% static 'shutter/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'shutter/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'shutter/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'shutter/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'shutter/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'shutter/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'shutter/js/aos.js' %}"></script>

  <script src="{% static 'shutter/js/jquery.fancybox.min.js' %}"></script>

  <script src="{% static 'shutter/js/main.js' %}"></script>

   {% block javascript %}

   {% endblock javascript %}


  </body>
</html>