{% extends 'shutter/base.html' %}{% block content %}{% load static %}
<div class="col-12" data-aos="fade-up" data-aos-delay="200">
  <div class="well text-muted text-center" style="padding-top: 4rem; padding-bottom: 4rem;">
    <h5>Are you sure you want to delete {{ album.name }}? All photos in the album will be deleted too!</h5>
      <form method="POST" action="{% url 'delete_album' album.id %}" name="deleteForm">
        {% csrf_token %}
            <p>
              <a href="{% url 'photos' album.id %}">
                <button class="btn btn-success mt-5" type="button">
                  Not really, take me back
                </button>
              </a>
            </p>
           <input type="submit" value="Delete" class="btn btn-danger mt-2">
      </form>
  </div>
</div>
{% endblock content %}