 {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shutter/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'shutter/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shutter/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'shutter/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'shutter/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'shutter/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'shutter/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'shutter/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'shutter/css/fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'shutter/css/style.css' %}">

    {% load compress %}

    {% compress css %}

        <link type="text/x-scss" href="{% static 'shutter/scss/style.scss' %}" rel="stylesheet" media="screen">

    {% endcompress %}