{% extends 'shutter/base.html' %}{% block content %}{% load static %}


    <div class="container-fluid photos">

                <div class="title"></div>
                <ul>

                        <a href="{{ media_url }}{{ img.image.name }}"><img border="0" alt=""
                            src="{{ media_url }}{{ img.thumbnail2.name }}" /></a>

                </ul>


      <div class="row align-items-stretch">

        {% if albums %}
        {% for album in albums %}
        {% if album.get_cover_photo %}

        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">

          <a href="{% url 'photos' album.id %}" class="d-block photo-item">
            <img src="{{ album.get_all_photos.first.image.url }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <div class="photo-text-more">
              <h3 class="heading">{{ album.get_cover_photo.album.name }}</h3>
                  {% if album %}
              <span class="meta">{{ album.get_all_photos.count }} Photos</span>
                  <p><span class="meta">{{ album.date_created }}</span></p>
                  {% endif %}
            </div>
            </div>
          </a>
        </div>

          {% else %}
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">

          <a href="{% url 'photos' album.id %}" class="d-block photo-item">
            <img src="{% static 'shutter/images/add-photo.png' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <div class="photo-text-more">
              <h3 class="heading">{{ album.name }}</h3>
              <h6>Click Here to add new photos</h6>
              <span class="meta">{{ album.get_all_photos.count }} Photos</span>
              <span class="meta">{{ album.date_created }}</span>
            </div>
            </div>
          </a>
        </div>

        {% endif %}
        {% endfor %}
        {% else %}
         <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">

              <h2  style="text-align: center; margin: 100px;">No albums yet</h2>

        </div>
        {% endif %}

         <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">

          <a class="d-block photo-item">
            <img src="{% static 'shutter/images/add-new-album.png' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <div class="photo-text-more">
              <h3 class="heading">Add new album</h3>
              <span class="meta">
                  <form method="post" style="margin-left: 10%">
                    {% csrf_token %}
                    <div class="row form-group ">
                      <div class="col-md-8 text-center">
                        {{ form.album }}
                      </div>
                    </div>
                  <form/>
              </span>
            </div>
            </div>
          </a>
        </div>

      </div>

      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
        </div>
      </div>
    </div>

{% endblock content %}