{% extends 'shutter/base.html' %}{% block content %}{% load static %}
    <div class="container-fluid photos">

      <div class="row pt-4 mb-5 text-center">
        <div class="col-12">
          <h2 class="text-white mb-4">{{ album.name }}</h2>
          <p>
              <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#updateAlbum" aria-expanded="false" aria-controls="updateAlbum">
                edit name
              </button>
            </p>
            <div class="collapse" id="updateAlbum">
                <form method="post" action="{% url 'update_album' album.id %}" style="margin-left: 20%;">
                  {% csrf_token %}
                  <div class="row form-group ">
                    <div class="col-md-8 text-center">
                      {{ album_form.album }}
                    </div>
                  </div>
                <form/>
            </div>
        </div>
      </div>

      <div class="row align-items-stretch">
        {% for photo in photos %}
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" id="photo_gallery">
          <a href="{{ photo.image.url }}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ photo.image.url }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        {% endfor %}

        <div class="col-12" data-aos="fade-up" data-aos-delay="200">
          <div class="well text-muted text-center" style="padding-top: 4rem; padding-bottom: 4rem;">

            <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Uploading...</h4>
                  </div>
                  <div class="modal-body">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-warning js-upload-photos">
              <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos to this album
            </button>

            {# FILE INPUT TO BE USED BY THE PLUG-IN #}
            <input id="fileupload" type="file" name="image" multiple
             style="display: none;"
             data-url="{% url 'photos' album.id %}"
             data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

            <p>
              <a href="{% url 'delete_album_page' album.id %}">
                <button class="btn btn-danger mt-5" type="button">
                  Delete Album
                </button>
              </a>
            </p>

          </div>
        </div>

      </div>


      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
        </div>
      </div>
    </div>

  {% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'shutter/js/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'shutter/js/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'shutter/js/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'shutter/js/basic-upload.js' %}"></script>
  {% endblock %}


{% endblock content %}